[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=layers2pdf
X-Python-2-Compatible=false
Name=Export layers to PDF
Comment=Plugin to selected layers export to PDF
